---
import Section from "../Section.astro";
---

<Section id="educacion">
  <header class="flex justify-between items-center px-4 sm:px-0">
    <h2 class="h2-princpal mt-4">Educación</h2>
    <a
      class="text-light-3 font-light border-b-2 border-transparent hover:border-light-3 transition-all ease duration-300"
      href="">Ver todo</a
    >
  </header>
  <section class="min-h-screen"></section>
</Section>
