---
import ButtonPrimary from "../ButtonPrimary.astro";
import LateralSocialMediaButtons from "../LateralSocialMediaButtons.astro";
import Section from "../Section.astro";
import ArrowUp from "public/assets/icons/ArrowUp.astro";
---

<Section id="welcome">
  <div id="profile-img" class="flex items-center gap-8">
    <img
      id="hero-profile-img"
      transition:name="image-profile"
      src="/public/images/Sanzola2.webp"
      alt="Foto Santiago Anzola"
      class="size-1/4 max-w-28 aspect-square rounded-full -z-50"
    />

    <h3
      class="text-primary order-1 text-lg xs:text-xl lg:text-2xl font-spaceMono font-bold"
    >
      Santiago Anzola
    </h3>
  </div>
  <!-- <article class="flex flex-col md:flex-row justify-between"> -->
  <article class="">
    <!-- <div class="max-w-[100%] w-full md:max-w-[720px] order-0"> -->
    <div class="max-w-[100%] w-full order-0">
      <div>
        <h1
          class="text-secondary text-3xl xs:text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-spaceMono font-bold mt-6 w-full sm:max-w-[85%] md:max-w-[80%] lg:max-w-[720px]"
        >
          Ingeniero en Multimedia
        </h1>

        <p
          class="text-secondary font-light mt-2 text-base md:text-lg w-full sm:max-w-[85%] md:max-w-[75%] lg:max-w-[720px]"
        >
          Apasionado por el <mark class="text-primary font-semibold"
            >Desarrollo Web</mark
          > y las <mark class="text-primary font-semibold"
            >Experiencias Digitales</mark
          >. Descubre mis proyectos y habilidades a continuación.
        </p>

        <div
          class="flex justify-between sm:items-center flex-col sm:flex-row items-start"
        >
          <div
            class="order-3 sm:order-1 flex w-full items-center justify-between flex-row"
          >
            <ButtonPrimary>
              <span>Contactarme</span>
              <span
                >{
                  (
                    <ArrowUp class="group-hover:scale-100 group-hover:scale-x-[-1]" />
                  )
                }</span
              >
            </ButtonPrimary>
            <LateralSocialMediaButtons className="relative mt-8 " />
          </div>
          <div
            class="text-secondary font-extralight text-sm ml:text-base sm:max-w-[50%] gap-2 mt-2 sm:mt-[-48px] md:mt-[-56px] xs:gap-4 md:block order-2 flex flex-wrap sm:block text-nowrap"
          >
            <p>Frontend</p>
            <p>Desarrollo web</p>
            <p>UX/UI</p>
            <p>Audiovisuales</p>
            <p>Edición video</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</Section>

<style>
  #hero-profile-img {
    /* view-transition-name: image-profile; */
    contain: layout;
    position: relative;
    z-index: 1;
    order: 0;
  }
  #hero-profile-img.overlay {
    width: 32px;
    height: 32px;
  }

  #hero-profile-img::view-transition-old(image-profile) {
    /* display: none; */
    animation: none;
  }

  #hero-profile-img::view-transition-new(image-profile) {
    /* animation: none; */
    display: none;
  }
</style>
<script>
  import type { JsxAttributeValue } from "typescript";
  import { addScrollListener, getScrollY } from "../../scripts/scrollHandler";

  const heroImage = document.getElementById("hero-profile-img");
  const bigProfileImg = document.getElementById("profile-img");
  const navbarImage = document.getElementById("nav-img");
  const logo = document.getElementById("logo");
  const header = document.querySelector("header") as HTMLElement;

  let animationTimes = 0;

  function reposImage() {
    if (!heroImage) return;
    let scrollY = getScrollY();
    if (scrollY > 50 && animationTimes === 0) {
      animationTimes++;
      navbarImage?.classList.remove("hidden");
      logo?.classList.add("hidden");

      header.classList.add("bg-dark-3/80");
      // heroImage.classList.remove("fixed");
      transition("", () => {
        navbarImage?.appendChild(heroImage);
        heroImage.classList.toggle("overlay");
      });
    }

    if (scrollY === 0 && animationTimes === 1) {
      animationTimes--;
      header.classList.remove("bg-dark-3/80");
      logo?.classList.remove("hidden");
      transition("hidden", () => {
        navbarImage?.classList.add("hidden");
        heroImage.classList.remove("overlay");
        bigProfileImg?.appendChild(heroImage);
      });
    }
  }

  function onScroll() {
    reposImage();
  }

  // window.addEventListener("scroll", onScroll);
  addScrollListener(onScroll);

  async function transition(classNameRemove: string, callback: VoidFunction) {
    if (!document.startViewTransition) {
      callback();
      return;
    }
    let classes;
    if (classNameRemove !== "") {
      classes = classNameRemove
        .split(" ")
        .map((s) => s.trim())
        .filter(Boolean);
    }

    try {
      const transition = document.startViewTransition(callback);
      await transition.finished;
    } finally {
    }
  }
</script>
