---
import Search from "public/assets/icons/Search.astro";
---

<section
  id="search-expandible"
  class="h-0 w-full z-50 bg-background transition-[height] ease-in-out duration-300 absolute bottom-0 left-0 right-0 top-0 flex justify-center mt-0 md:mt-11"
>
  <div class="max-w-7xl px-6 flex w-full md:w-auto h-full">
    <search
      id="search-container"
      class="flex items-center justify-center h-32 w-full invisible transition-all ease-in-out duration-[50ms]"
    >
      <button
        aria-label="Buscar sobre Santiago Anzola"
        aria-labelledby="search-input"
        class="pr-3"
      >
        <Search class="size-6 text-light-3" />
      </button>
      <input
        id="search-input"
        type="text"
        placeholder="Busca o preguntale a SanzBardAI sobre mí"
        class="w-full h-10 text-secondary text-lg md:text-xl lg:text-2xl bg-transparent border-none focus:outline-none md:min-w-[510px]"
      />
    </search>
  </div>
</section>
<script>
  import { addScrollListener } from "@/scripts/scrollHandler";
  import { hideSearch, toggleHeight } from "./search-expandible";
  import { HideSearchField } from "./hamburguer-button";
  const searchButton = document.querySelector("#search-button") as HTMLElement;
  const backgroudBlur = document.querySelector(
    "#background-blur"
  ) as HTMLElement;
  // addScrollListener(hideSearch);

  searchButton?.addEventListener("click", () => {
    toggleHeight();
  });
  backgroudBlur.addEventListener("mouseover", () => toggleHeight());
</script>
