<button
  {...Astro.props}
  class="inline-flex items-center group gap-3 max-w-40 md:max-w-40 hover:max-w-52 transition-all ease-in-out duration-400 bg-primary py-2 px-5 rounded-full text-lg font-medium md:text-lg text-background mt-8"
>
  <slot />
</button>
