<button
  {...Astro.props}
  class="inline-flex items-center group gap-3 max-w-44 hover:max-w-52 hover:scale-105 transition-all ease-in-out duration-400 bg-primary py-2 px-5 rounded-full font-bold text-xl text-dark-1 mt-8"
>
  <slot />
</button>
