---
import Gmail from "../../public/assets/icons/Gmail.astro";
import Linkedin from "../../public/assets/icons/Linkedin.astro";
import Github from "../../public/assets/icons/Github.astro";
---

<aside class="fixed right-8 top-[15%] ml-auto z-10 max-w-11">
  <div class="flex flex-col gap-4">
    <a href="" class="hover:opacity-50 transition-opacity ease duration-200">
      <Gmail class="text-secondary size-5" />
    </a>
    <a
      href=""
      class="flex justify-center hover:opacity-50 transition-opacity ease duration-200"
    >
      <Linkedin class="text-secondary size-4" />
    </a>
    <a
      href=""
      class="flex justify-center hover:opacity-50 transition-opacity ease duration-200"
    >
      <Github class="text-secondary size-4" />
    </a>
  </div>
</aside>
