---
import Gmail from "public/assets/icons/Gmail.astro";
import Linkedin from "public/assets/icons/Linkedin.astro";
import Github from "public/assets/icons/Github.astro";

interface Props {
  className?: string;
}
const { className }: Props = Astro.props;
---

<aside
  class=`${className} sm:fixed sm:right-3 2xl:right-8 sm:top-[15%] sm:ml-auto z-0 sm:z-40 sm:max-w-11 `
>
  <div class="flex sm:flex-col flex-row gap-4 justify-center">
    <a href="" class="hover:opacity-50 transition-opacity ease duration-200">
      <Gmail class="text-secondary size-5" />
    </a>
    <a
      href=""
      class="flex justify-center hover:opacity-50 transition-opacity ease duration-200"
    >
      <Linkedin class="text-secondary size-4" />
    </a>
    <a
      href=""
      class="flex justify-center hover:opacity-50 transition-opacity ease duration-200"
    >
      <Github class="text-secondary size-4" />
    </a>
  </div>
</aside>
