---
import Section from "../Section.astro";
import Pastilla from "../Pills.astro";
import { skills } from "./Skills";
import { projects } from "./Proyectos";
import ButtonView from "./ButtonView.astro";
import Github from "public/assets/icons/Github.astro";
import Eye from "public/assets/Eye.astro";
import ProjectsList from "./ProjectsList.astro";
---

<Section id="proyectos" className="pt-32 " isResponsivePadding={true}>
  <header class="flex justify-between items-center px-4 sm:px-0">
    <h2 class="h2-princpal mt-4">Proyectos y Herramientas</h2>
    <a
      class="text-light-3 font-light border-b-2 border-transparent hover:border-light-3 transition-all ease duration-300"
      href="">Ver todo</a
    >
  </header>
  <div
    class="overflow-x-scroll scrollable-element pb-4 sm:overflow-auto sm:pb-0 pl-4 sm:px-0"
  >
    <div
      class="mt-12 flex flex-wrap gap-2 pills-grid transition-colors duration-500 w-[200%] sm:w-[100%]"
    >
      {
        skills.map((skill) => (
          <Pastilla>
            <skill.icon class="size-4" />
            <span class="font-bold">{skill.name}</span>
          </Pastilla>
        ))
      }
    </div>
  </div>

  <div class="grid grid-template-columns gap-1 mt-8">
    <!-- <div class="grid grid-cols-3 gap-1 mt-8"> -->
    {
      (
        //
        <ProjectsList />
      )
    }
  </div>
</Section>

<!-- <style>
  .pills-grid {
    &:has(a:hover) {
      a:not(:hover) {
        filter: grayscale(100%);
        opacity: 0.5;
      }
    }
  } -->
